<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="SportyShoesTestSuite">
    <test name="SportyShoesTests">
        <classes>
            <class name="com.sportyshoes.sportyshoes.seleniumtests.LoginPageTest"/>
            <class name="com.sportyshoes.sportyshoes.seleniumtests.HomePageTest"/>
            <class name="com.sportyshoes.sportyshoes.seleniumtests.CartPageTest"/>
            <class name="com.sportyshoes.sportyshoes.seleniumtests.OrderPageTest"/>
            <class name="com.sportyshoes.sportyshoes.seleniumtests.ProfilePageTest"/>
            <class name="com.sportyshoes.sportyshoes.seleniumtests.LogoutPageTest"/>
        </classes>
    </test>
</suite>