<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="SportyShoesTestSuite">
    <test name="SportyShoesTests">
        <classes>
            <class name="com.sportyshoes.sportyshoes.LoginPageTest"/>
            <class name="com.sportyshoes.sportyshoes.HomePageTest"/>
            <class name="com.sportyshoes.sportyshoes.CartPageTest"/>
            <class name="com.sportyshoes.sportyshoes.OrderPageTest"/>
            <class name="com.sportyshoes.sportyshoes.ProfilePageTest"/>
            <class name="com.sportyshoes.sportyshoes.LogoutPageTest"/>
        </classes>
    </test>
</suite>